<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	metadata-complete="true" 
	version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  
	<servlet>
		<servlet-name>MoleculerServlet</servlet-name>
		<servlet-class>services.moleculer.web.servlet.MoleculerServlet</servlet-class>
		<init-param>
			<param-name>moleculer.application</param-name>
			<param-value>com.fs.App</param-value>
		</init-param>
		<init-param>
			<param-name>-Dorg.springframework.boot.logging.LoggingSystem</param-name>
			<param-value>none</param-value>
		</init-param>					
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>		
	</servlet>
	<servlet-mapping>
		<servlet-name>MoleculerServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
  
  	<servlet>
    	<servlet-name>ProgramLaunch</servlet-name>
    	<servlet-class>com.fs.servlet.ProgramLaunch</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
   	<servlet-mapping>
    	<servlet-name>ProgramLaunch</servlet-name>
    	<url-pattern>/aps/launch</url-pattern>
  	</servlet-mapping>
  
</web-app>
